<template>
    <div class="comments">
    <div v-show="loading"></div>
        <ul class="comments-list">
            <li v-for="comment in comments" :key="comment.id">
                <div class="comment">
                    <div class="comment-pic">
                        <img src="./../../static/img//avatar.png" width="40%">
                    </div>
                    <div class="comment-text">
                        <h5>
                            <a href="javascript:void(0)">
                                {{ comment.name }}
                            </a>
                        </h5>
                        <span class="comment-date">Posted on {{ comment.created_at }}</span>
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <h3>Post Comment</h3>
        <form class="form-horizontal" @submit.prevent>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" v-model="name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" v-model="email" class="form-control" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">
                        We'll never share your email with anyone else.
                        </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Comment</label>
                    <textarea class="form-control" v-model="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" @click="submitComment">
                   Submit
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import LoadingComponent from "./loading";
export default {
  data() {
    return {
      loading: false,
      name: "",
      email: "",
      comment: ""
    };
  },
  props: ["comments", "post"],
  mounted() {},
  methods: {
    submitComment() {
      let vm = this;
      vm.loading = true;
      let data = {
        name: vm.name,
        email: vm.email,
        comment: vm.comment
      };
      vm.$http.post("comments/posts/" + vm.post.id, data).then(response => {
        this.comments.push(response.data);
        vm.loading = false;
      }).catch(error => {
          console.log(error)
      });

      vm.name = '',
      vm.email = '',
      vm.comment = '',

      vm.loading = false
    }
  },
  components: {
    LoadingComponent
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul.comments-list {
  list-style: outside none none;
  margin: 0;
  padding-left: 0;
  background: #999;
}

.comment {
  position: relative;
  background: #999;
  margin-bottom: 30px;
}

.comment-pic,
.comment-text {
  display: inline-block;
  float: left;
}

.comment-pic {
  width: 10%;
}

.comment-text {
  width: 90%;
}

.comment-pic,
.comment-text {
  display: inline-block;
  float: left;
}

a.comment-reply {
  border-bottom: 1px solid #999999;
  color: #999999;
  position: absolute;
  right: 0;
  top: 0;
}
</style>
