<template>
  <div v-if="loading">
    <loader-component />
  </div>
  <div v-else>
    <div class="hello">
      <div class="container">
        <div class="row">
            <div class="col-md-4" v-for="post in posts">
              <div class="single-blog">
                <div class="blog-img">
                  <router-link :to="{ name: 'Post', params: { title: 'welcome' }}">
                    <img src="./../../static/img/blog-3.jpg" width="90%" alt="blog">
                  </router-link>
                </div>
                <h4>
                  <a class="blog-title" href="single-blog.html">
                    {{ post.title }}
                  </a>
                </h4>
                <div class="blog-text">
                  <p>
                    {{ post.post | ellipsis }}
                  </p>
                  <router-link :to="{ name: 'Post', params: { title: post.title }}" class="btn btn-success">
                    Read more
                  </router-link>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoaderComponent from "./loading";
export default {
  name: "Home",
  data() {
    return {
      loading: true,
      posts: []
    };
  },
  mounted() {
    let vm = this;
    this.$http.get("posts").then(response => {
      vm.posts = response.data
      vm.loading = false
    });
    this.loading = false
  },
  filters: {
    ellipsis (string) {
      let stringLength = string.length
      if(stringLength > 150) {
        return string.substring(0, 150) + '...'
      }

      return string
    }
  },
  components: {
    LoaderComponent
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

.single-blog {
  padding: 20px 0;
  min-height: 460px;
}

.hello {
  margin-bottom: 10px;
}

.read-more-btn {
  color: #288feb;
  font-size: 16px;
  border-bottom: 1px solid #288feb;
}
</style>
