<template>
    <div class="container">
        <div v-if="loading">
            <loader-component />
        </div>
        <div v-else>
            <h3 class="post-title">{{ post.title }}</h3>
            {{ post.post }}
            <h3>Comment</h3>
            <div class="comment-box">
                <comment-component :comments="comments" :post="post" />
            </div>
        </div>
    </div>
</template>

<script>
import LoaderComponent from "./loading";
import CommentComponent from "./comment";
export default {
  data() {
    return {
      loading: true,
      post: {},
      comments: []
    };
  },
  mounted() {
    let vm = this;
    this.$http
      .get("posts/read/" + this.$route.params.title + "?include=comments")
      .then(response => {
        vm.post = response.data;
        vm.comments = response.data.comments.data;
        vm.loading = false;
      }).catch(error => {
        console.log(error)
      });
    this.loading = false;
  },
  components: {
    LoaderComponent,
    CommentComponent
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.comment-box {
  margin-top: 20px;
}
.post-title {
  margin: 15px 0;
}
</style>
