<template>
  <div id="app">
    <div class="mini-header">
      <div class="col-md-12">
        <div class="pull-right">
          <router-link :to="{ name: 'Home' }" class="btn btn-light">Home</router-link>
        </div>
        <div class="col-sm-10">
          <div class="title">Welcome</div>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app',
  mounted () {
    
  }
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
}

.blog-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

a {
  color: #666666;
  -webkit-transition: all .4s linear 0s;
  transition: all .4s linear 0s;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.page-banner-area,
.page-banner-area-3 {
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  position: relative;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
}

.mini-header {
  background: #01579B;
  padding: 2px;
  color: #fff;
}

.title {
  padding: 8px;
}
</style>
